html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css")
        link(rel="stylesheet" href="../dist/style.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js")
    body
        .wrapper
            div(class="wrapper__content")
                h1(class="wrapper__content__header--first")
                    | Chatroom number #{room}!
                .wrapper__content__messages(id="messagesBox")
                    ul(id="output")
                        each message in messages
                            li
                                strong
                                    | #{message.name}
                                | #{message.message}
                .wrapper__content__broadcast(id="broadcast")
                form(class="wrapper__content__message--add" method="POST")
                    textarea(class="textarea" id="message" placeholder="Say hello!")
                    .form__submit
                        input(type="submit" value="Enter!" id="send" class="button is-link is-medium")
        footer(class="main__footer")
            div
                span
                    | Copyright Dominik Szczepaniak 2018 &nbsp; | &nbsp;
                a(href="https://devszczepaniak.pl")
                    | devszczepaniak.pl
        script(type='text/javascript').
            const room = "!{room}"
            const nickname = "!{nickname}"
        script(src="../dist/index.js" async)
